@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/navbar.css';
@import 'shared/forms.css';
@import 'shared/tables.css';

body {
    background-color: #edf2f6;
    font-family: 'Nunito Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-base-color);
}

label, input {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-base-color);
}

.segment {
    width: 100%;
    border-radius: .75rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}